* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

.header {
  display: flex;
  padding: 8em 6em 3em;
  gap: 650px;
  span {
    display: flex;
    gap: 40px;
    padding-top: 0.5em;
    a {
      text-decoration: none;
      color: hsl(236, 13%, 42%);
    }
    a:hover {
      cursor: pointer;
      color: hsl(35, 77%, 62%);
    }
  }
}

.center-wrapper {
  display: flex;
  gap: 35px;
  padding: 0 6em 3em;
}

.main-story-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .image-wrapper {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  .main-title {
    font-weight: 800;
    font-size: 1.6em;
    min-inline-size: 15ch;
  }
  .main-text {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-left: 3.5em;
    padding-right: 0.5em;
    p {
      color: hsl(236, 13%, 42%);
      font-size: 0.8em;
      min-inline-size: 35ch;
      padding-bottom: 1.7em;
      line-height: 1.8;
    }
    a {
      text-decoration: none;
      letter-spacing: 7%;
      background-color: hsl(5, 85%, 63%);
      text-align: center;
      max-inline-size: 175px;
      color: hsl(240, 100%, 5%);
      font-weight: 600;
      padding: 0.5em 1em;
    }
    a:hover {
      cursor: pointer;
      background-color: hsl(240, 100%, 5%);
      color: hsl(36, 100%, 99%);
    }
  }
}

.sidebar {
  padding: 1.5em 1.5em;
  background-color: hsl(240, 100%, 5%);
  h2 {
    font-size: 2em;
    color: hsl(35, 77%, 62%);
  }
  h3 {
    color: hsl(36, 100%, 99%);
    font-size: 1.05em;
    padding-top: 1em;
  }
  p {
    color: hsl(236, 13%, 42%);
    font-size: 0.8em;
    min-inline-size: 30ch;
  }
  .sidebar-divider {
    border-bottom: 2px solid hsl(236, 13%, 42%);
    padding-bottom: 1em;
  }
  h3:hover {
    cursor: pointer;
    color: hsl(35, 77%, 62%);
  }
  a {
    text-decoration: none;
  }
}
