* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

.header {
  display: flex;
  padding: 5em 6em 3em;
  gap: 650px;
  span {
    display: flex;
    gap: 40px;
    padding-top: 0.5em;
    a {
      text-decoration: none;
      color: hsl(236, 13%, 42%);
    }
    a:hover {
      cursor: pointer;
      color: hsl(35, 77%, 62%);
    }
  }
}

.center-wrapper {
  display: flex;
  gap: 30px;
  padding: 0 6em 2em;
}

.main-story-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .image-wrapper {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  .desktop-image {
    height: 18em;
    width: 54em;
  }
  .mobile-image {
    display: none;
  }
  .main-title {
    font-weight: 800;
    font-size: 1.6em;
    min-inline-size: 15ch;
    padding-top: 1em;
  }
  .main-text {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 0.5em;
    p {
      color: hsl(236, 13%, 42%);
      font-size: 0.8em;
      min-inline-size: 35ch;
      padding-bottom: 1.7em;
      line-height: 1.8;
    }
    a {
      text-decoration: none;
      letter-spacing: 7%;
      background-color: hsl(5, 85%, 63%);
      text-align: center;
      max-inline-size: 175px;
      color: hsl(240, 100%, 5%);
      font-weight: 600;
      padding: 0.5em 1em;
    }
    a:hover {
      cursor: pointer;
      background-color: hsl(240, 100%, 5%);
      color: hsl(36, 100%, 99%);
    }
  }
}

.sidebar {
  padding: 1.5em 1.5em;
  background-color: hsl(240, 100%, 5%);
  h2 {
    font-size: 2em;
    color: hsl(35, 77%, 62%);
  }
  h3 {
    color: hsl(36, 100%, 99%);
    font-size: 1.05em;
    padding-top: 1.5em;
  }
  p {
    color: hsl(236, 13%, 42%);
    font-size: 0.8em;
    min-inline-size: 30ch;
  }
  .sidebar-divider {
    border-bottom: 2px solid hsl(236, 13%, 42%);
    padding-bottom: 1em;
  }
  h3:hover {
    cursor: pointer;
    color: hsl(35, 77%, 62%);
  }
  a {
    text-decoration: none;
  }
}

.top3-stories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 6em 3em;
}

.story {
  display: flex;
  gap: 15px;
  img {
    height: 150px;
    width: auto;
    padding-top: 0.5em;
  }
  h2 {
    color: hsl(5, 85%, 63%);
    font-size: 1.7em;
    line-height: 0.8em;
    padding-top: 0.3em;
  }
  h3 {
    color: hsl(240, 100%, 5%);
    font-weight: 800;
    line-height: 1em;
  }
  a {
    text-decoration: none;
  }
  h3:hover {
    cursor: pointer;
    color: hsl(5, 85%, 63%);
  }
  p {
    color: hsl(236, 13%, 42%);
    max-inline-size: 22ch;
    line-height: 1.6em;
  }
}

@media (width <=500px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
  }
  .center-wrapper {
    flex-direction: column;
  }
  .main-story-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-left: -40%;
    .desktop-image {
      display: none;
    }
    .mobile-image {
      display: inline !important;
      min-width: 375px;
      min-height: 375px;
    }
    .main-title {
      min-inline-size: 20ch;
      padding-top: 1em;
    }
    .main-text {
      padding-top: 0;
      padding-left: 0;
      margin-right: -10%;
      p {
        font-size: 1em;
      }
    }
  }
  .sidebar {
    min-width: 375px;
    padding-left: 0;
    margin-left: -40%;
    h2 {
      padding-left: 1em;
    }
    h3 {
      padding-left: 1em;
    }
    p {
      padding-left: 1em;
    }
    .sidebar-divider {
      border-bottom: hsl(240, 100%, 5%);
    }
  }
  .top3-stories {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    gap: 15px;
  }
}
